---
layout: page
permalink: "/about/"
title: "About"
excerpt: "Professional freelance web developer in Vienna, builds custom websites for custom people."
---

<div class="page__header">
    <h1 class="page__title title">About Me</h1>
</div>

<div class="page__content about">

    <div class="intro">
        <img class="intro__image" src="{{ "/assets/images/max_boeck_01.jpg" | relative_url }}" alt="Max Böck">
        <p class="intro__text lead">
            I'm <span lang="de">Max B&ouml;ck</span>, a frontend web developer based in Vienna, Austria.
            For the last ten years, I've been working with all sorts of clients, helping them build awesome things on
            the
            web.
        </p>
    </div>

    <div class="cv">

        <div class="cv__section">
            <h2 id="skills-title" class="cv__title label">
                {% include icon.html icon="wrench" %} Skills
            </h2>
            <ul class="cv__list" aria-labelledby="skills-title">
                <li class="cv__item cv__item--bullet">HTML5 / CSS3 / Javascript ES6</li>
                <li class="cv__item cv__item--bullet">Sass / BEM</li>
                <li class="cv__item cv__item--bullet">React / Redux</li>
                <li class="cv__item cv__item--bullet">jQuery</li>
                <li class="cv__item cv__item--bullet">PHP / WordPress</li>
                <li class="cv__item cv__item--bullet">Sketch / Illustrator / Photoshop</li>
                <li class="cv__item cv__item--bullet">Webpack / Grunt / Gulp / other bear noises</li>
            </ul>
        </div>

        <div class="cv__section">
            <h2 id="education-title" class="cv__title label">
                {% include icon.html icon="education" %} Education
            </h2>
            <ol class="cv__list" aria-labelledby="education-title">
                <li class="cv__item">
                    BSc Webdesign and Development<br>
                    <span class="cv__item__desc">2012, SAE Technology Institute Vienna</span>
                </li>
                <li class="cv__item">
                    AHS Matura<br>
                    <span class="cv__item__desc">2007, BRG/BORG St.P&ouml;lten</span>
                </li>
                <li class="cv__item">
                    First Certificate in English (A)<br>
                    <span class="cv__item__desc">2006, Cambridge Institute Vienna</span>
                </li>
            </ol>
        </div>

    </div>

</div>