//--------------------
// SCSS VARIABLES
//--------------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1000px,
  // Extra large screen / wide desktop
  xl: 1268px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  md: 640px,
  lg: 922px, 
  xl: 1204px
);


// Z-Index Stack
//
// Control the order of layers in the application
$z-layers: (
  "modal":100
);


// Colors
//
// Grayscale and brand colors.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-red:                 #fc6767;

// Links
//
// Style anchor elements.

$link-color:                 $brand-red;
$link-decoration:            none;
$link-hover-color:           darken($link-color, 5%);
$link-hover-decoration:      underline;

// Body
//
// Settings for the `<body>` element.

$body-bg:                    #FFF;
$body-color:                 $gray-dark;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif:          Georgia, "Times New Roman", Times, serif;
$font-family-monospace:      Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;

$font-family-base:           $font-family-sans-serif;

$font-size-root:             16px;
$font-size-base:             1rem;
$line-height:                1.5;

$font-size-h1:               2.5rem;       //40px
$font-size-h2:               2rem;         //32px
$font-size-h3:               1.75rem;      //28px
$font-size-h4:               1.5rem;       //24px
$font-size-h5:               1.125rem;     //18px


// Misc Shared
//
// common shared styles

$border-radius:               .25rem;      //4px


// Components
//
// Variables related to specific elements

