//--------------------
// SCSS VARIABLES
//--------------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Medium screen / tablet
  md: 760px,
  // Large screen / desktop
  lg: 1000px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$main-container-max-width:      1200px;
$main-column-max-width:         41rem; //656px

$container-max-widths: (
  md: 640px,
  lg: 922px
);


// Z-Index Stack
//
// Control the order of layers in the application
$z-layers: (
  "overlay": 1000,
  "menu": 500,
  "modal": 100
);


// Colors
//
// Grayscale and brand colors.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-red:                 #fc6767;
$brand-cyan:                #43A9A3;

// Links
//
// Style anchor elements.

$link-color:                 $brand-red;
$link-decoration:            none;
$link-hover-color:           darken($link-color, 5%);
$link-hover-decoration:      none;

// Body
//
// Settings for the `<body>` element.

$body-bg:                    #FFFFFF; //#F9FAFC;
$body-color:                 $gray-dark;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif:          "Times New Roman", Georgia, Times, serif;
$font-family-monospace:      Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
$font-family-base:           $font-family-sans-serif;

$font-size-root:             100%;
$font-size-base:             1rem;

$line-height: 1.625 !default;
$line-height-desktop: 1.7 !default;
$leading: round(16 * $line-height);
$leading-rem: $leading / 16;


// Misc Shared
//
// common shared styles

$border-radius:               .25rem;      //4px


// Components
//
// Variables related to specific elements

