.page--404 {
    .page__header {
        padding-bottom: 2rem;
    }
    .page__content {
        text-align: center;
    }
    .invaders {
        margin: 2rem 0;
        overflow-x: hidden;
    }
}
