// Home Page Specific Styles

.hero {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:2rem 0;
  height: 400px;
  height: 70vh;

  &__title {
    font-size:calc(1.5rem + 5vmin);
  }

  &__pretitle {
    //color:$link-color;
    margin-bottom:0;
  }

  @include mq(lg){
    padding:2rem 0 6rem;
  }
}