@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'),
        url('../fonts/playfair-display-regular.woff2') format('woff2'),
        url('../fonts/playfair-display-regular.woff') format('woff');
}
