// SVG Icon Styles

.icon {
  display:inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right:5px;

  svg {
    width: 100%;
    height:100%;
  }

  path {
    fill:currentColor;
  }
}