// Main Typography Styles

%serif {
  font-family: $font-family-serif;

  .fonts-loaded & {
    font-family: 'Playfair Display', serif;
  }
}

//TODO: define lineheight for headlines
h1, h2, h3, h4 {
  line-height: 1.3;
}

.title {
  @extend %serif;
  font-size:2.5rem;
  font-weight:400;

  @include mq(md){
    font-size:5rem;
  }
}

.content {
  font-size:1.125rem;

  > * {
    width:90%;
    max-width:$main-column-max-width;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2rem;
  }

  .extend {
    max-width: 60rem;
  }

  a {
    border-bottom:1px dotted currentColor;
  }

  h2, h3, h4 {
    margin-top: 1.5em;
    margin-bottom: .75em;
  }

  @include mq(md){
    font-size:1.375rem;
  }
}


.label {
  font-size:.875rem;
  text-transform: uppercase;
  font-weight:700;
  letter-spacing: 1px;
}


.lead {
  font-size: 1.5rem;
  font-weight:300;
  line-height:1.4;

  @include mq(md){
    font-size:2rem;
  }
}

figure {
  max-width: none;
  margin-left:auto;
  margin-right:auto;
  text-align: center;

  img {
    width:auto;
    max-width: 100%;
  }
  figcaption {
    padding-top:.75rem;
    font-style: italic;
    font-size:1rem;
  }
}

video {
  max-width: 100%;
  height:auto;
}

blockquote {
  font-style:italic;
  padding-left:2.25em;
  border-left:10px solid $gray-lighter;
}