// Main Typography Styles

%serif {
  font-family: $font-family-serif;

  .wf-playfair & {
    font-family: 'Playfair Display', serif;
  }
}

.title {
  @extend %serif;
  font-size:2.5rem;
  font-weight:400;
  line-height:1.2;

  @include mq(md){
    font-size:4rem;
  }
  @include mq(lg){
    font-size:5.5rem;
  }
}

.label {
  font-size:.875rem;
  text-transform: uppercase;
  font-weight:700;
  letter-spacing: 1px;
}

.lead {
  font-size: 1.5rem;
  font-weight:300;
  line-height:1.4;

  @include mq(md){
    font-size:2rem;
  }
}

pre, code {
  font-family: $font-family-monospace;
}