<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" />

  <!-- SEO -->
  {% seo %}

  <!-- Meta Stuff -->
  {% include head-meta.html %}

  <!-- Stylesheets -->
  {% include head-stylesheets.html %}

  <!-- External Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

  <!-- Modernizr Feature Tests -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!-- Grunticon SVG Icons -->
  <script src="{{ "/assets/icons/grunticon.loader.js" | relative_url }}"></script>
  <script type="text/javascript">
    grunticon([
      '{{ "/assets/icons/icons.data.svg.css" | relative_url }}',
      '{{ "/assets/icons/icons.data.png.css" | relative_url }}',
      '{{ "/assets/icons/icons.fallback.css" | relative_url }}'
    ], grunticon.svgLoadedCallback );
  </script>
</head>
