<header class="header" role="banner">
  <div class="header__inner container">

    <a class="brand" href="/">
      <span class="sr-only">MXB</span>
      <img src="{{ "/assets/images/logo.svg" | relative_url }}" width="80" alt="MXB" />
    </a>

    <button type="button" class="menutoggle" id="menu-toggle">
      <span class="sr-only">Toggle Menu</span>
      <span class="menuicon">
        <span class="menuicon__bar menuicon__bar--1"></span>
        <span class="menuicon__bar menuicon__bar--2"></span>
        <span class="menuicon__bar menuicon__bar--3"></span>
        <span class="menuicon__bar menuicon__bar--4"></span>
      </span>
    </button>
    
    {% include nav.html %}
    <div class="menu-animation">
      <div id="menu-animation-bg" class="menu-animation__circle"></div>
    </div>
    
  </div>
</header>