<nav id="nav" class="nav" role="navigation">
  <ul class="nav__list">

    <li class="nav__item">
      <a href="{{ site.baseurl }}" class="nav__link">
        <span class="nav__item__num">01</span>work
      </a>
    </li>

    <li class="nav__item">
      <a href="/blog" class="nav__link">
        <span class="nav__item__num">02</span>blog
      </a>
    </li>

    <li class="nav__item">
      <a href="/about" class="nav__link">
        <span class="nav__item__num">03</span>about
      </a>
    </li>

    <li class="nav__item">
      <a href="/contact" class="nav__link">
        <span class="nav__item__num">04</span>contact
      </a>
    </li>
    
  </ul>
</nav>