<div class="webmentions__header">
    <a href="#webmentions" class="webmentions__toggle">
        {% include icon.html icon="message" %}
        Show All ({% webmention_count page.url posts replies links %})
    </a>

    <span class="webmentions__stats">
        {% include icon.html icon="repost" %}
        {% webmention_count page.url reposts %}
        <span class="sr-only">Reposts</span>
    </span>

    <span class="webmentions__stats">
        {% include icon.html icon="heart" %}
        {% webmention_count page.url likes %}
        <span class="sr-only">Likes</span>
    </span>
</div>

<div class="webmentions__panel" id="wm-panel">
    {% webmentions page.url posts replies links %}
</div>