.form {

  &__field {
    position:relative;
    margin-bottom:1rem;
  }

  &__input {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.2;
    padding: 1.25rem;
    font-weight: 300;
    border: 1px solid darken($gray-lighter, 18%);
    border-radius: $border-radius;
    transition:border .2s linear;

    &[aria-invalid="true"] {
      border-color:$brand-red;
    }

    &:focus {
      border-color:$brand-cyan;
      box-shadow:0 0 0 1px $brand-cyan;
      outline:0;
    }
  }

  &__actions {
    @include mq(md){
      display:flex;
      justify-content: space-between;
      align-items:center;
    }
  }

  &__error,
  &__feedback {
    padding:.25rem .5rem;
    margin-top:.5rem;
    border: 1px solid $brand-red;
    border-radius: $border-radius;
    background-color: lighten($brand-red, 28%);
    color: darken($brand-red, 30%);

    &:empty {
      display:none;
    }
  }

  &__error {
    @include mq(md){
      position:absolute;
      width:auto;
      top:1.625rem;
      right:1rem;
      transform:translateY(-50%);
    }
  }

  &__feedback {
    
    @include mq(md){
      margin-top:0;
      padding: .75rem 1.5rem;
    }

    &--success {
      border-color:$brand-cyan;
      color:darken($brand-cyan, 15%);
      background-color: lighten($brand-cyan, 42%);
    }
  }

  .req {
    display:inline-block;
    margin-left:.5rem;
    color:$brand-red;
  }
}