/* Header Component */

.header {
  &__inner {
    padding:2rem 0;
    
    @include mq(md){
      padding:3.125rem 0;
    }
  }
}

.brand {
  display:inline-block;
  width:5rem;

  img {
    width:100%;
    height:auto;
  }
}


