code {
  background-color: #f4f4f6;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: .9375rem;
}

pre code {
  font-size: 1rem;
  background:transparent;
  border:0;
  padding:0;
}

.highlight {
  width: 100%;
  position: relative;
  line-height: 1.6;
  overflow-x: scroll;

  pre {
    margin:0 auto;
    padding: 2rem;
    overflow:visible;

    @include mq(md){
      padding:2rem 0;
    }
  }
}