pre, code {
  font-family: $font-family-monospace;
}

code {
  background-color: #f5f2f0;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 75%;
}

pre code {
  font-size: 1rem;
  background:transparent;
  border:0;
  padding:0;
}

div.highlighter-rouge {
  width: 100%;
  max-width:none;
  position: relative;
  line-height: 1.6;
  overflow-x: scroll;
  background: #1d1f21; 
  color: #ffffff;

  pre {
    margin:0 auto;
    padding: 2rem;
    overflow:visible;
    max-width:$main-column-max-width;

    @include mq(md){
      padding:2rem 0;
    }
  }
}