.offlinebtn {
  display:inline-block;
  width:2.5rem;
  height:2.5rem;
  margin-left:.5rem;
  line-height: 1;
  background-color:transparent;
  border-radius: 50%;
  border: 2px solid $gray-lighter;
  color:$gray-light;
  transition:all .2s linear;

  &:hover,
  &:focus {
    border-color:$gray-dark;
    color:$gray-dark;
    outline:0;
  }

  .icon {
    margin:0;
  }
  .icon--offline {
    display:none;
  }

  //sucess state
  &--success {
    border-color:$brand-cyan !important;
    color:$brand-cyan !important;

    .icon--offline {
      display:inline-block;
    }
    .icon--download {
      display:none;
    }
  }
}