.post {

  &__header {
    padding:2rem 0;

    &::after {
      content: "";
      display:block;
      width:4rem;
      height:2px;
      background-color: $link-color;
    }
  }

  &__title {
    margin:0 auto .25em;
    max-width:55rem;
  }

  &__meta {
    font-family: $font-family-serif;
    color:$gray-light;
    font-size:1.125rem;
  }

  &__date {
    font-style:italic;
  }

  &__category {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .77777em;

    .thoughts-on {
      display:none;
    }
  }

  &__content {
    padding: 1rem 0;
    font-size:1.125rem;

    > * {
      @extend .container;
      max-width:$main-column-max-width;
      margin-bottom:2rem;
    }

    .highlight {
      max-width:none;

      pre {
        max-width:$main-column-max-width;
      }
    }
  }

  @include mq(md){
    &__header {
      text-align:center;
      padding:4rem 0;

      &::after {
        margin: 2rem auto 0;
      }
    }
    &__meta {
      font-size:1.5rem;
    }
    &__category {
      .thoughts-on {
        display:inline;
      }
    }
    &__content {
      font-size:1.375rem;
    }
  }

  @include mq(lg){
    &__header {
      padding:6rem 0;
    }
  }
}