.postlist {
    list-style-type: none;
    padding: 0;

    &__item {
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }

        @include mq(md) {
            margin-bottom: 5.5rem;
        }
    }
}
