.projectlist {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding:0;
  margin:0 -1rem;

  &__item {
    width:100%;
    margin-bottom:2rem;
    padding:0 1rem;

    &--half {
      width:50%;
    }
    &--one-third {
      width:33.33333%;
    }
    &--two-thirds {
      width:66.66666%;
    }
  }

}