.project {
  &__header {
    @extend .post__header;

    .btn {
      margin-top:1rem;
    }
  }
}


.project--preview .project {
  
  &__content {
    width:100%;
    height: 400px;
    position: relative;
    background-color:$gray-lighter;
    border-radius:$border-radius;
    overflow:hidden;
  }

  &__link {
    display:block;
    color:#FFF;

    @include hover-focus {
      color:#FFF;
    }
  }

  &__info {
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    z-index:1;
    padding:1.5rem;
  }

  &__title {
    @extend %serif;
    font-size:2.5rem;
  }

  &__image {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;

    img {
      width:100%;
      height:100%;
      object-fit: cover;
      object-position: 50% 50%;
      opacity:0;
      transition:opacity .4s ease-in-out;
      border-radius:$border-radius;

      &.loaded {
        opacity:1;
      }
    }
  }
}

//shadow and hover animation
.project--preview {
  position: relative;
  transition:all .3s cubic-bezier(0.4, 0, 0.2, 1);
  transform:translateY(0);
  filter: brightness(100%);

  &::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: $border-radius;
    box-shadow: 0 15px 45px -5px rgba(10, 16, 34, .3);
    transition: opacity .3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &:hover {
    transform:translateY(-5px);
    filter: brightness(110%);

    &::after {
      opacity:1;
    }
  }
}

.otherprojects {
  padding-top:3rem;
  border-top:1px solid $gray-lighter;

  &__title {
    display:block;
    text-align: center;
    margin-bottom:3rem;
  }
}