// Top Panel

.toppanel {
  background-color:$gray-dark;
  height:5px;
  position: relative;

  &__progressbar {
    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:100%;
    background-color:$brand-cyan;
  }
}