// Top Panel

.toppanel {
  background-color:$gray-dark;
  position: relative;
  min-height:5px;
  color:#FFF;

  &__progressbar {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:5px;
    background-color:$brand-red;
  }

  &__banner {
    padding:1rem 0;

    &:empty {
      display:none;
    }
  }
}

// Legacy Browser Notice

.legacy-warning {
  padding:9px 0 4px;
  background-color:$gray-dark;
  color:$gray-lighter;
}